body {
    font-family: Arial, sans-serif;
}

.sponsor__title {
    text-align: center;
    font-weight: 400;
    font-size: 96px;
    margin-bottom: 104px;
    margin-top: 80px;
}

#window {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

#slide-container {
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.slides {
    min-width: 100%;
    box-sizing: border-box;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 31px;
    border-radius: 100px;
}

.slides__image {
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.slides__text {
    margin-top: 10px;
    font-size: 1.5em;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2em;
    color: black;
    text-decoration: none;
    padding: 10px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
    cursor: pointer;
    user-select: none;
    z-index: 10; /* Ensure arrows are above the slides */
}

#previous {
    left: 10px;
}

#next {
    right: 10px;
}

#dotsContainer {
    text-align: center;
    padding: 20px;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 5px;
    background: gray;
    border-radius: 50%;
    cursor: pointer;
}

.active {
    background: black;
}
