.login__title {
    font-family: ;
    font-weight: 400;
    font-size: 96px;
    text-align: center;
    color: #000;
    margin-top: 83px;
}

.login__inputs {
    display: flex;
    justify-content: center;
    align-items: flex;
    margin-top: 40px;
}

.login__input {
    border: 5px solid #000;
    border-radius: 10px;
    width: 629px;
    height: 93px;
    font-family: ;
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    color: #000;
}

.login__button {
    border-radius: 10px;
    width: 629px;
    height: 93px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 48px;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    margin-top: 260px;
}